@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Baloo Bhaijaan 2', sans-serif;
  height: 100vh;
  background-color: #0a192f;
}

.text {
  font-size: 5em;
  letter-spacing: 5px;
  border-right: 5px solid #64ffda;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s, cursor 0.4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

nav {
  transition: 0.3s;
}

nav.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}
